<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

      <h3>Enlaces Relevantes</h3>

      <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
          <div>
              <h4>Contacto</h4>
              <ul class="uk-nav ">
                <li class="uk-active"><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="menu"></span>COTIZAR</a></li>
                <hr class="uk-divider-icon">
                <div uk-grid>
                  <div><span uk-icon="rss"></span></div>
                  <div><span uk-icon="google"></span></div>
                  <div><span uk-icon="instagram"></span></div>
                  <div><span uk-icon="facebook"></span></div>
                  <div><span uk-icon="twitter"></span></div>
                  <div><span uk-icon="linkedin"></span></div>
              </div>

              <hr class="uk-divider-icon">



              <li class="uk-active uk-navbar-right "><a href="#modal-contacto" uk-toggle><span uk-icon="user"></span>&nbsp;CONTACTO</a>
              </li>




            </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
          <div>
            <h4>Productos</h4>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="tag" uk-toggle></span>&nbsp; MARQUILLAS Y ETIQUETAS</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="pencil"></span>&nbsp;LAPICEROS</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="bag"></span>&nbsp;BOLSAS</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="star"></span>&nbsp;PROMOCIONES</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="album"></span>&nbsp;CAJAS</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="move"></span>&nbsp;PARAFINADOS</a>
            <br><br>
            <a href="#modal-impresiones" uk-toggle><span uk-icon="desktop"></span>&nbsp;DIGITALES</a>
              <p>Si requiere una Cotización especial puede comunicarse directo al Whatsapp: +57 302 699 9953.</p>
          </div>
          <div>
            <h4>Directorios</h4>
            <ul class="uk-list uk-list-bullet">
              <li>La Mayorista</li>
              <li>La Minorista</li>
              <li>La terminal del Norte</li>
              <li>La terminal del Sur</li>
              <li>Aeropuero de Medellín</li>
              <li>Aeropuero Internacional de Rionegro</li>
            </ul>
              <p>Todos los directorios.</p>
          </div>
          <div>
            <h4>Redes Sociales</h4>
            <ul class="uk-nav ">
              <li class="uk-active">
                <a routerLink="directorios" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <span uk-icon="list"></span> &nbsp; DIRECTORIOS</a>
                </li>
              <li>
                <a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page">
                  <span uk-icon="bolt"></span>Herramientas
                </a>
              </li>

              <li><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="database"></span>Nuestros Clientes</a></li>
              <li><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="image"></span>Galeria de Trabajos</a></li>
              <li><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="phone"></span>Apps Desarrolladas</a></li>
              <li><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="world"></span>WEBS Desarrolladas</a></li>
              <li class="uk-active"><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page"><span uk-icon="menu"></span>COTIZAR</a></li>
              <hr class="uk-divider-icon">
              <div uk-grid>
                <div><span uk-icon="rss"></span></div>
                <div><span uk-icon="google"></span></div>
                <div><span uk-icon="instagram"></span></div>
                <div><span uk-icon="facebook"></span></div>
                <div><span uk-icon="twitter"></span></div>
                <div><span uk-icon="linkedin"></span></div>
            </div>

            <hr class="uk-divider-icon">



            <li class="uk-active uk-navbar-right "><a href="#modal-contacto" uk-toggle><span uk-icon="user"></span>&nbsp;CONTACTO</a>
            </li>




          </ul>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
      </div>

  </div>
</div>
