<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">

      <h3>Depplin - Departamento de Publicidad Integral</h3>

      <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>


          <!--Productos Depplin-->
          <div>
            <app-productosdepplin></app-productosdepplin>
          </div>

<div>
              <h4>Contacto</h4>
              <ul class="uk-nav ">

                <li class="uk-active uk-navbar-right "><a href="#modal-contacto" uk-toggle><span uk-icon="user"></span>&nbsp;CONTACTO</a>
                </li>

              </ul>
              <p>Nuestro contacto más efectivo es Whatsapp</p>
          </div>



          <!--Directorios------------------------>
          <div>
            <h4>Directorios</h4>
            <ul class="uk-list uk-list-bullet">
              <li>La Mayorista</li>
              <li>La Minorista</li>
              <li>La terminal del Norte</li>
              <li>La terminal del Sur</li>
              <li>Aeropuero de Medellín</li>
              <li>Aeropuero Internacional de Rionegro</li>
            </ul>
              <a routerLink="/directorios/todos">
              <p>Todos los directorios.</p></a>
          </div>
          <!--Directorios------------------------>





          <!--Redes Sociales------------------>
          <div>
            <h4>Redes Sociales</h4>


              <div uk-grid>

                <div><span uk-icon="google"></span></div>
                <div><span uk-icon="instagram"></span></div>
                <div><span uk-icon="facebook"></span></div>
                <div><span uk-icon="twitter"></span></div>
                <div><span uk-icon="linkedin"></span></div>
              </div>

              <p>Visite nuestras Redes Sociales.</p>
          </div>
          <!--Redes Sociales------------------>
      </div>

  </div>


</div>


<nav class="uk-container uk-container-expand uk-navbar" >

  <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">Todos los Derechos reservados</a></li>
          <li>
              <a href="#">Politicas de privacidad</a>

          </li>
          <li><a href="#">@2023</a></li>
      </ul>

  </div>
  <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">
          <li>
              <a href="#">Depplin.NET</a>

          </li>
      </ul>
  </div>
</nav>



