/* You can add global styles to this file, and also import other style files */
.textmini {
  font-size: 12px;
}

.colordepplin {
  background-color: blue;
}

.fondodepplin {
  background-image: url( 'https://i.pinimg.com/564x/35/13/64/35136433572cb160508aa613254805a5.jpg' );
  background-position: 100%;
}
